        
        .text-format{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        a {
            text-decoration: none;
        }

        header li {
            list-style-type: none;
        }

        #cerejas {
            float: right;
            margin-left: 10px;
        }

        #folha {
            float: left;
            margin-right: 10px;
        }

        #cachoeira {
            float:left;
            margin-right: 10px;
        }

        #cedros {
            float: right;
            margin-left: 10px;
        }

        #time {
            float:left;
            margin-right: 10px;
        }